<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
 <% end %>
 
 <% if flash[:update] %>
      <div class="flash">
        <%= flash[:update] %>
      </div>
 <% end %>
 
<h2>Books</h2>
