<% if current_user.favorited_by?(book.id) %>
<p>
<%= link_to book_favorites_path(book), method: :delete, remote: true %>
♥<%= book.favorites.count %>
<% end %>
</p>
<% else %>
<p>
<%= link_to book_favorites_path(book), method: :post, remote: true %>
♡<%= book.favorites.count %>
<% end %>
</p>
<% end %>
