<%= render 'devise/shared/error_messages', resource: @book_new %>
  <div class='row'>
  <div class="col-md-3" >
      <%= render 'users/list', user: @user, book: @book_new%>
  </div>


    <div class="offset-md-1 col-md-8">
        <h2>Books</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style = "width: 10%;"></th>
                    <th style = "width: 30%;">Title</th>
                    <th style = "width: 30%;">Opinion</th>
                    <th style = "width: 10%;"></th>
                    <th style = "width: 20%;"></th>
                </tr>
            </thead>

            <tbody>
                <%= render 'favorite', book: @book %>
             </tbody>
        </table>
    </div>
</div>