<%= render 'users/list', users: @users %>
<h2>Book detail</h2>
<table>
　<tbody>
　<div class="profile-container">
   <%= attachment_image_tag @user, :profile_image, :fill, 20, 20, format: 'png', fallback: "no_image.png" %>
   
 <h4>Title</h4>
 <span>
    <%=  @book.title  %>
    <!--構文合ってる？-->
 </span>
 <h4>Opinion</h4>
  <h3 class="profile-Opinion"><%= @book.body %></h3>
   
   </div>
 </tbody>
</table>
<!--下のはいらない？-->
<!--@books（モデルBook)なので、-->